*{
    padding: 0;
    margin: o;
    color: white;
}
#nevbar{
    height: 60px;
    background-color: #0f1111;
    border-style: solid;
    border-color: white;
}
button{
    background-color: #f08804;
}
#a1{
    color: #f08804;
    font-size: 25px;
}
a{
    margin-right: 60px;
    text-decoration: none;
}

h1{
    text-align: center;
}
.x{
    border: 2px solid black;
    height: 100px;
    width: 100px;
    display: inline-block;
}
#content{
    height: 850px;
}
footer{
    background-color: black;
    text-align: center;
}