div{
    height: 600px;
    width: 600px;
    border: 2px solid black;
    background-color: blue;
    position: absolute;
    top: 100px;
    left: 100px;
    animation: BlinkAnimation 0.2s linear 0s infinite normal;
    animation: LineAnimation 1s ease-in 0s infinite normal;
}

@keyframes BlinkAnimation{
    from{background-color: blue;}
    to{background-color: red;}
}
@keyframes LineAnimation{
    from{top: 0px;}
    to{top: 300px;;}
}