div{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    background-color: aquamarine;
    position: absolute;
    top: 100px;
    left: 100px;
    transition: all 3s ease-in;
}

div:hover{
    background-color: blue;
    color: beige;
    font-size: 20px;
    transform: scale(2);
    transform: rotate(360deg);
    transform: translate(20px);
}
div:active{
    background-color: brown;
} 